#ferrari{
  margin: 10px;

  list-style-image: url(/HTML/html/img/ferrari.png)
}
#BMW{
  margin: 10px;
  list-style-image: url(/HTML/html/img/bmw.jpg)
}
#Audi{
  margin: 10px;
  list-style-image: url(/HTML/html/img/audi.jpg)
}
